.date-input {
  width: 190px;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;
}

.submit-input {
  padding: 10px;
  font-family: American Typewriter, serif;
  border-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid green;
}

form {
  display: flex;
  justify-content: center;
}

.eth-data{
  display: flex;
  justify-content: center;
}
