.mouse-line{
  stroke: "black";
  stroke-width: 1px;
  opacity: 0;
}

.mouse-circle {
  fill: none;
  stroke-width: 1px;
  opacity: 0;
}

.svg-rect{
  fill: none;
  pointer-events: all;
}
.overlay {
   fill: none;
   pointer-events: all;
 }

 .focus circle {
   fill: none;
   stroke: steelblue;
 }
